
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(#346173ec, #0869a6ef,#1c618c);
}


.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.login-box {
  background-color: rgb(255, 255, 255);  
  padding: 40px 50px;
  border-radius: 10px;  
  text-align: center;
  box-shadow: 2px 2px 10px #f2622e9f;
  width: 300px;
}

.logo {
  width: 250px;
  margin-top: ;
  
}


.login-box h2 {
  color: #004aad;
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: -20px;
  font-weight: bolder;
}


form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  text-align: left;
  color: #f35a23;
  font-size: larger;
  font-weight: bold;
  margin-top: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  background-color: #f2622e36;
}

input:focus {
  border-color: #004aad;
}


button {
  margin-top: 20px;
  background-color: #004aad;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #F2622E;
}
